In [1]:
import pandas as pd

In [2]:
# 2 main datatypes
series = pd.Series(["BMW", "Lamborghini", "Audi"])

In [3]:
series

0            BMW
1    Lamborghini
2           Audi
dtype: object

In [4]:
# series = 1-dimensional

In [5]:
colors = pd.Series(["Black", "Yellow", "Blue"])

In [6]:
colors

0     Black
1    Yellow
2      Blue
dtype: object

In [7]:
# DataFrame = 2-dimensional
car_data = pd.DataFrame({"Car make": series, "Color": colors})
car_data

      Car make   Color
0          BMW   Black
1  Lamborghini  Yellow
2         Audi    Blue

In [8]:
# Import data
car_sales = pd.read_csv("../data/car-sales.csv")

In [9]:
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [12]:
# Exporting a dataframe
car_sales.to_csv("../data/exported-car-sales.csv", index=False)

In [13]:
exported_car_sales = pd.read_csv("../data/exported-car-sales.csv")
exported_car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00